.button {
  padding: 0.8rem 3.5rem;
  box-shadow: 5px 5px 6px #00000029;
  text-align: center;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: $color-primary;
  transition: 0.3s;
  transition-property: background-color, color;

  &:hover {
    background-color: $color-darkFont;
    color: $color-brightFont;
  }
}
